<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body>

  {{ partial "header.html" . }}
  <div class="main">
    <div class="left-buffer"></div>
    <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
      <article class="post-content">
        {{ .Content }}
      </article>

      <div class="pagination">
        {{ if .Prev }}
        <a class="btn previous" href="{{.Prev.Permalink}}">Prev</a>
        {{ end }}
        {{ if .Next }}
        <a class="btn next" href="{{.Next.Permalink}}">Next</a>
        {{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>
    <aside class="nav">
      {{ .TableOfContents }}
    </aside>
  </div>

  <script src="{{.Site.BaseURL}}js/main.js"></script>
  <script src="{{.Site.BaseURL}}js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
</body>
</html>
